<app-nav></app-nav>
<div class="section">
    <video loop muted autoplay>
        <source src="https://www.f-cdn.com/assets/main/en/assets/home/video/mobile-phone-v3.mp4" >
    </video>
    <div class="containe ms-lg-5 d-flex align-items-center justify-content-center">
        <h1>Hire the best freelancers for any job, online. </h1>
        <ul class="mt-3">
            <li>World's largest freelance marketplace</li>
            <li>Any job you can possibly think of</li>
            <li>Save up to 90% & get quotes for free</li>
            <li>Pay only when you're 100% happy </li>
        </ul>
        <div class="btn-sec mt-5">
            <a routerLinkActive="active" routerLink="/freelancers" class="btn btn-primary me-5">Hire Freelancer</a>
            <a routerLinkActive="active" routerLink="/login" class="btn">Become Freelancer</a>
        </div>
    </div>
</div>
